.img {
    background-color: lime;
    display: inline-block;
    border: 2px solid white;
    outline: 3px solid lightgrey;
    transition: 2s;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.img:hover {
    border-radius: 44% 22%;
    box-shadow: 6px 6px 6px black;
}

.img1 {
    background-image: url(messi.jpeg);
    width: 193px;
    height: 262px;
}

.img2 {
    background-image: url(neymar.jpeg);
    width: 183px;
    height: 275px;
}

h1 {
    background-color: aquamarine;
    line-height: 2;
    text-align: center;
    text-decoration: underline;
}

.i {
    float: right;
}

.im1 {
    font-size: 2em;
    background-color: aquamarine;
    line-height: 1.7;
    width: 168px;
    position: sticky;
    top: 0;
}

.f1 {
    background-image: url(messi2.jpeg);
    width: 275px;
    height: 183px;
    border: 2px solid white;
    outline: 3px solid lightgrey;
}

.im2 {
    font-size: 2em;
    background-color: aquamarine;
    line-height: 1.7;
    position: sticky;
    top: 0;
    width: 194px;
}

.f2 {
    background-image: url(neymar2.jpeg);
    width: 225px;
    height: 225px;

}

.img3 {
    background-image: url(ronaldo.jpeg);
    width: 193px;
    height: 262px;
}
.im3{
    font-size: 2em;
    background-color: aquamarine;
    line-height: 1.7;
    position: sticky;
    top: 0;
    width: 237px;

}
.f3{
    background-image: url(ronaldo2.jpeg);
    width: 225px;
    height: 225px;
}
.f{
    float: left;
}
.img4{
    background-image: url(benzema.jpeg);
    width: 188px;
    height: 268px;
}
.f4{
    background-image: url(benzema2.jpeg);
    width: 201px;
    height: 251px;
}
.im4{
    font-size: 2em;
    background-color: aquamarine;
    line-height: 1.7;
    position: sticky;
    top: 0;
    width: 209px;
}
.img5{
    background-image: url(suarez.jpeg);
    width: 183px;
    height: 275px;
}
.f5{
    background-image: url(suarez2.jpeg);
    width: 225px;
    height: 225px;
}
.im5{
    font-size: 2em;
    background-color: aquamarine;
    line-height: 1.7;
    position: sticky;
    top: 0;
    width: 152px;
}